streamlit
langchain==0.2.16
langchain-community==0.2.16
langchain-core
langchain-groq<0.2.0
langchain-huggingface<0.1.0
langchain-chroma
chromadb
sentence-transformers
pypdf
arxiv
wikipedia
duckduckgo-search
ddgs
youtube-transcript-api
python-dotenv
watchdog
